body {
	font-family: sans-serif;
}

table.mainTable tr td {
    vertical-align: top;
}

table.accountTable {
    background-color: lightgray;
    width: 250px;
    border: 5px solid lightgray;
}

table.twitterTable {
    width: 500px;
}

table.twitterTable tr td {
    background-color: lightgray;
    border: 5px solid lightgray;
}

table.companyTable {
    background-color: lightgray;
    width: 200px;
    border: 5px solid lightgray;
}

span.description {
    font-weight: bold;
}

.spittleList h1 {
	font-size: 16pt;
}

.spittleList ul {
	list-style: none;
	margin-left: 0px;
	padding-left: 0px;
} 

.spittleList ul li:first-child {
	border-top: 0px;
} 

.spittleList ul li {
	border-top: 1px solid #cccccc;
} 

.spittleTime {
	font-size: 8pt;
}

.spittleLocation {
	font-size: 8pt;
}

.spittleForm h1 {
	font-size: 16pt;
}