body {
	font-family: sans-serif;
}

table.mainTable tr td {
    vertical-align: top;
}

table.accountTable {
    background-color: lightgray;
    width: 250px;
    border: 5px solid lightgray;
}

table.twitterTable {
    width: 500px;
}

table.twitterTable tr td {
    background-color: lightgray;
    border: 5px solid lightgray;
}

table.companyTable {
    background-color: lightgray;
    width: 200px;
    border: 5px solid lightgray;
}

span.description {
    font-weight: bold;
}

label.error {
    color: red;
}

input.error {
    background-color: #ffcccc;
}

div.errors {
    background-color: #ffcccc;
    border: 2px solid red;
}
