<div class="container-dialog p-2">
  <h3 class="bg-info p-1 text-white text-center">Registration</h3>

  <form novalidate #form="ngForm" (ngSubmit)="submitForm(form)">
    <div *ngIf="!(formSubmitted && form.invalid)">
      <app-message></app-message>
    </div>

    <div class="alert alert-danger"
         *ngIf="formSubmitted && form.invalid">
      There are problems with the form
      <ul>
        <li *ngFor="let error of getFormValidationMessages(form)">
          {{error}}
        </li>
      </ul>
    </div>

    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text"
             class="form-control" id="username" name="username"
             [(ngModel)]="newAccount.username"
             required minlength="1" maxlength="16"
             appAutofocus/>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password"
             class="form-control" id="password" name="password"
             [(ngModel)]="newAccount.password"
             required minlength="5" maxlength="25"/>
    </div>
    <div class="form-group">
      <label for="confirmation">Confirmation:</label>
      <input type="password"
             class="form-control" id="confirmation" name="confirmation"
             [(ngModel)]="newAccount.passwordConfirmation"
             required minlength="5" maxlength="25" appValidateEqual="password"/>
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <input type="text"
             class="form-control" id="description" name="description"
             [(ngModel)]="newAccount.description"
             required minlength="2" maxlength="30"/>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary m-1"
              [disabled]="formSubmitted && form.invalid"
              [class.btn-secondary]="formSubmitted && form.invalid">
        Register
      </button>
      <button class="btn btn-link m-1" routerLink="/login">Log in</button>
    </div>
  </form>
</div>
