<div class="container-dialog p-2">
  <h3 class="bg-info p-1 text-white text-center rounded">Login</h3>

  <div class="alert alert-danger text-center" [hidden]="!error">
    Failed to login.
  </div>
  <div class="alert alert-success text-center" [hidden]="!logout">
    You have been logged out.
  </div>
  <form role="form">
    <div class="mb-3">
      <label for="username" class="form-label">Username:</label>
      <input type="text" class="form-control" id="username" name="username"
             [(ngModel)]="credentials.username"
             appAutofocus/>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password:</label>
      <input type="password" class="form-control" id="password" name="password"
             [(ngModel)]="credentials.password"/>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary m-1" (click)="login()">Log in</button>
      <button class="btn btn-link m-1" routerLink="/account/register" id="register">Register</button>
    </div>
  </form>
</div>
