body {
    font-family: sans-serif;
}

div.webPage {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

table.centered {
    margin: 0 auto;
    text-align: left;
}

table.mainTable tr td {
    vertical-align: top;
}

div.inputWrapper {
    margin-right: 65px;
    /*padding: 0 2px;*/
}

input.searchInput {
    float: left;
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
}

table.searchTable {
    width: 100%;
}

table.searchTable tr td {
    padding: 0 2px;
    /*width: 100%;*/
}

/*table.searchTable tr td:first-child input {*/
    /*float: left;*/
    /*width: 100%;*/
    /*-webkit-box-sizing: border-box; !* Safari/Chrome, other WebKit *!*/
    /*-moz-box-sizing: border-box; !* Firefox, other Gecko *!*/
    /*box-sizing: border-box; !* Opera/IE 8+ *!*/
/*}*/

input.searchButton {
    width: 65px;
}

table.tweetButtonTable tr td {
    padding: 0 2px;
}

table.accountTable {
    width: 250px;
    border-spacing: 0;
}

table.tweetTable, table.searchResultTable {
    width: 500px;
}

table.followTable {
    width: 225px;
    border-spacing: 0;
}

table.tweetTable tr td, table.accountTable tr td, table.followTable tr td {
    background-color: lightgray;
    border: 5px solid lightgray;
}

textarea.tweetTextarea {
    width: 400px;
    height: 100px;
}

a.description, td.description, a.statistics {
    font-weight: bold;
}

a.description:link, a.description:visited,
a.statistics:link, a.statistics:visited {
    text-decoration: none;
}

a.description:hover, a.description:active,
a.statistics:hover, a.statistics:active {
    text-decoration: underline;
}

td.small {
    font-size: 80%;
}

label.error {
    color: red;
}

input.error {
    background-color: #ffcccc;
}

div.errors {
    background-color: #ffcccc;
    border: 2px solid red;
}

div.logout {
    background-color: #ccffcc;
    border: 2px solid green;
}
