body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input.rt-dirty.rt-invalid, textarea.rt-dirty.rt-invalid {
  border: 2px solid #ff0000;
}

input.rt-dirty.rt-valid, textarea.rt-dirty.rt-valid {
  border: 2px solid #6bc502;
}
