<div class="container-dialog p-2">
  <h3 class="bg-info p-1 text-white text-center rounded">Registration</h3>

  <form novalidate #form="ngForm">
    <app-non-validation-message [isFormSubmitted]="formSubmitted" [isFormValid]="form.invalid"></app-non-validation-message>

    <div class="alert alert-danger" *ngIf="formSubmitted && form.invalid">
      There are problems with the form
      <ul>
        <li *ngFor="let error of getFormValidationMessages(form)">
          {{error}}
        </li>
      </ul>
    </div>

    <div class="mb-3">
      <label for="username" class="form-label">Username:</label>
      <input type="text"
             class="form-control" id="username" name="username"
             [(ngModel)]="credentials.username"
             required minlength="1" maxlength="16"
             appAutofocus/>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password:</label>
      <input type="password"
             class="form-control" id="password" name="password"
             [(ngModel)]="credentials.password"
             required minlength="5" maxlength="25"/>
    </div>
    <div class="mb-3">
      <label for="confirmation" class="form-label">Confirmation:</label>
      <input type="password"
             class="form-control" id="confirmation" name="confirmation"
             [(ngModel)]="credentials.confirmation"
             required minlength="5" maxlength="25" appValidateEqual="password"/>
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description:</label>
      <input type="text"
             class="form-control" id="description" name="description"
             [(ngModel)]="credentials.description"
             required minlength="2" maxlength="30"/>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary m-1"
              [disabled]="formSubmitted && form.invalid"
              [class.btn-secondary]="formSubmitted && form.invalid"
              (click)="submitForm(form)">
        Register
      </button>
      <button class="btn btn-link m-1" routerLink="/login" id="login">Log in</button>
    </div>
  </form>
</div>
