<div class="card p-3 bg-light">
  <div class="row font-weight-bold">
    <div class="col-12">
      {{account.description}}
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      @{{account.username}}
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <td class="small"><a class="font-weight-bold" routerLink="/account/tweets">Tweets</a></td>
    </div>
    <div class="col-4">
      <td class="small"><a class="font-weight-bold" routerLink="/account/following">Following</a></td>
    </div>
    <div class="col-4">
      <td class="small"><a class="font-weight-bold" routerLink="/account/followers">Followers</a></td>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <td class="small"><a class="font-weight-bold" routerLink="/account/tweets">{{accountStatistics.tweetsCount}}</a></td>
    </div>
    <div class="col-4">
      <td class="small"><a class="font-weight-bold" routerLink="/account/following">{{accountStatistics.followingCount}}</a></td>
    </div>
    <div class="col-4">
      <td class="small"><a class="font-weight-bold" routerLink="/account/followers">{{accountStatistics.followersCount}}</a></td>
    </div>
  </div>
</div>
