<div class="card p-3 bg-light">
  <div class="row">
    <div class="col">
      <div class="row fw-bold">
        <div class="col-12" id="description">{{accountStatistics.description}}</div>
      </div>
      <div class="row">
        <div class="col-12" id="username">&#64;{{accountStatistics.username}}</div>
      </div>
    </div>
    @if (isFollowVisible()) {
      <div class="col-auto" id="buttons">
        @if (!accountStatistics.follow) {
          <button class="btn btn-primary m-0" (click)="follow()" id="follow">Follow</button>
        }
        @if (accountStatistics.follow) {
          <button class="btn btn-primary m-0" (click)="unfollow()" id="unfollow">Unfollow</button>
        }
      </div>
    }
  </div>
  <div class="row mt-1">
    <div class="col-4 small">
      <a class="fw-bold" [routerLink]="['/account', 'tweets', accountStatistics.username]">Tweets</a>
    </div>
    <div class="col-4 small">
      <a class="fw-bold" [routerLink]="['/account', 'following', accountStatistics.username]">Following</a>
    </div>
    <div class="col-4 small">
      <a class="fw-bold" [routerLink]="['/account', 'followers', accountStatistics.username]">Followers</a>
    </div>
  </div>
  <div class="row">
    <div class="col-4 small">
      <a class="fw-bold" id="tweets" [routerLink]="['/account', 'tweets', accountStatistics.username]">{{accountStatistics.tweetsCount}}</a>
    </div>
    <div class="col-4 small">
      <a class="fw-bold" id="following" [routerLink]="['/account', 'following', accountStatistics.username]">{{accountStatistics.followingCount}}</a>
    </div>
    <div class="col-4 small">
      <a class="fw-bold" id="followers" [routerLink]="['/account', 'followers', accountStatistics.username]">{{accountStatistics.followersCount}}</a>
    </div>
  </div>
</div>
