<div class="container-dialog p-2">
  <h3 class="bg-info p-1 text-white text-center rounded">New tweet</h3>

  <form novalidate #form="ngForm">
    <div *ngIf="!(formSubmitted && form.invalid)">
      <app-message></app-message>
    </div>

    <div class="alert alert-danger"
         *ngIf="formSubmitted && form.invalid">
      There are problems with the form
      <ul>
        <li *ngFor="let error of getFormValidationMessages(form)">
          {{error}}
        </li>
      </ul>
    </div>

    <div class="mb-3">
      <textarea class="form-control" rows="3"
                id="text" name="text"
                [(ngModel)]="text"
                required minlength="1" maxlength="140"
                appAutofocus>
      </textarea>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary m-1"
              [disabled]="formSubmitted && form.invalid"
              [class.btn-secondary]="formSubmitted && form.invalid"
              (click)="submitForm(form)">
        Tweet
      </button>
      <button class="btn btn-secondary m-1" routerLink="/account/show">Cancel</button>
    </div>
  </form>
</div>
