<div class="container-dialog p-2">
  <h3 class="bg-info p-1 text-white text-center rounded">New tweet</h3>

  <form novalidate #form="ngForm">
    <app-non-validation-message [isFormSubmitted]="formSubmitted" [isFormValid]="form.invalid"></app-non-validation-message>
    <app-validation-messages [isFormSubmitted]="formSubmitted" [form]="form"></app-validation-messages>

    <div class="mb-3">
      <textarea class="form-control" rows="3"
                id="text" name="text"
                [(ngModel)]="text"
                required minlength="1" maxlength="140"
                appAutofocus>
      </textarea>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary m-1"
              [disabled]="formSubmitted && form.invalid"
              [class.btn-secondary]="formSubmitted && form.invalid"
              (click)="submitForm(form)">
        Tweet
      </button>
      <button class="btn btn-secondary m-1" routerLink="/account/show">Cancel</button>
    </div>
  </form>
</div>
