<div class="row m-2">
  <div class="col-3 p-2">
    <button class="btn btn-link m-1" routerLink="/account/show">Main</button>
  </div>
  <div class="col-6 p-2">
    <button class="btn btn-primary m-1" routerLink="/account/search">Search</button>
  </div>
  <div class="col-3 p-2">
    <button class="btn btn-primary m-1" routerLink="/tweet">Tweet</button>
    <button class="btn btn-link m-1" routerLink="/account/profile">Profile</button>
    <button class="btn btn-link m-1" (click)="logout()">Logout</button>
  </div>
</div>
